{%  extends 'layout.html'  %}
{%  block body %}
  <main role="main" class="inner cover">
    <h2 class="cover-heading">A day without laughter is a day wasted</h2>
    <div style="float:right">
    	<p class="lead" >-Charlie Chaplin</p>
    	<p class="lead">
    </div>
    <hr>
<p>and</p>
    <h2 class="cover-heading">A project without ML is a project wasted</h2>
    <div style="float:right">
    	<p class="lead" >-Sourabh Sharma :)</p>
    	<p class="lead">
    </div>
    <hr>
  </main>

{% endblock %}