{%extends 'layout.html'%}
{%block body%}
  <main role="main" class="inner cover">
<!--FIRST_POST -->
	<div class="post-preview">
		<a href="blog/first-post">
			<h2 class="post-title">Title_1</h2>
			<!--<h3 class="post-subtitle">sub-title...</h3>-->
		</a>
		<p class="post-meta">machine learning can give the ability of self_learning to any computer system.</p>
	</div>
	<hr>
<!--SECOND_POST -->
	<div class="post-preview">
		<a href="blog/sec-post">
			<h2 class="post-title">Title_2</h2>
			<!--<h3 class="post-subtitle">sub-title...</h3>-->
		</a>
		<p class="post-meta">PART-2 will be continued...</p>
	</div>
	<hr>
<!--THIRD_POST -->
	<div class="post-preview">
		<a href="blog/sec-post">
			<h2 class="post-title">Title_3</h2>
			<!--<h3 class="post-subtitle">sub-title...</h3>-->
		</a>
		<p class="post-meta">PART-3 will be continued...</p>
	</div>
	<hr>

	
<!--BACK_BUTTON -->
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
{% endblock %}
