{%extends 'layout.html'%}
{%block body%}
  <main role="main" class="inner cover">
    <h2 class="cover-heading">Talk is cheap show me the code</h2>
    <div style="float:right">
    	<p class="lead" >-linus torvalds</p>
    	<p class="lead">
    </div>
    <hr>
   <div style="float:left">
    <p><h4>Hey there!, i hope you guys would like my work on Machine Learning.<div style="stop-color:green">In these <a href="project1"><u>Projects</u></a></div> i have used simple ML algorithms and statistics so you click there to check them out.</h4></p>
</div>
  </main>
{% endblock %}